.menu{
    grid-row: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {
    background-color: #f3f1f5;
    border: 0.05rem solid gray;
    width: 6rem;
    text-align: center; 
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(42, 39, 39);
}

.menu a.active, .menu a:hover  {
    background-color: gray;
}
